.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    opacity: 0.7;
    height: 10%;
    background-color: transparent;
}

nav #toggler {
    display: none;
}


nav .navbar-burger {
    font-size: 3rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 2px solid black;
    display: none;
}
.navbar-end {
    margin-left: auto;
    margin-right: 0px;
}
.navbar-item {
    color: white;
    font-size: 20px;
    background-color: transparent !important;
    border: none;
    margin-top:1rem;
    padding: 0%;
}

.navbar-item:hover {
    background-color: transparent !important;
    color: black;
}

.navbar-item.is-active {
    background-color: transparent !important;
    color: black;
}


@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
body, html{
    overflow-x: hidden;
}

@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";


.image-section {
    animation: backgroundSlideshow 15s infinite;
    background-image: url('../imagenes/fondo.jpg');
    background-size: cover;
    background-position: center;
    height: 170vh; 
}

.image-section .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3); 
    padding: 20px;
}

.image-section .content {
    width: 100%;
    color: white;
}

.image-section h1 {
    font-family: 'Anton SC';
    line-height: 1.2;
    letter-spacing: 5px;
    font-size: clamp(2rem, 4vw, 8rem);
    color: rgb(251, 220, 179);
}

.image-section p {
    font-size: 1.4em;
}

.img_1{
    border: 2px solid black;
}

.img_2{
    border: 2px solid white;
}

.container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../imagenes/clientes.jpg);
    height: 100vh;
    border: 3px solid white;
    background-size: auto;
    background-position: center;
}

.social-icons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
}

.payment-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.payment-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.payment-icons img {
    width: auto;
}

.nequi-icon {
    width: 90px;
    height: 90px;
}

.tamaño{
    width: 70px;
    height: 70px;
    padding: 5px;
    margin-top: 5px;
}

#datos {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 50px;
}
