*{

}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    opacity: 0.7;
    height: 10%;

}
nav .navbar-burger {
    font-size: 3rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 2px solid black;
    display: none;
}
.navbar-end {
    margin-left: auto;
    margin-right: 0px;
}
.navbar-item {
    color: white;
    font-size: 20px;
    background-color: transparent !important;
    border: none;
    margin-top:1rem;
    padding: 0%;
}

.navbar-item:hover {
    background-color: transparent !important;
    color: black;
}

.navbar-item.is-active {
    background-color: transparent !important;
    color: black;
}
